<!--
  Generated template for the VisualizarGrupoAceitoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding *ngIf="grupo">
  <div class="iconeX">
    <ion-icon ios="ios-close" md="md-close" (click)="ok()"></ion-icon>
  </div>
  <div>
    <h2>
      {{ grupo.nome }}
      <ion-icon *ngIf="grupo.foiSorteado" ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
    </h2>
  </div>
  <ion-item padding>
    <strong>Criado por:</strong> {{ grupo.criadoPor.nome }}
  </ion-item>
  <ion-item padding>
      <strong>dataEntrega: </strong> {{ grupo.dataEntrega|date:"dd/MM/yyyy" }}
  </ion-item>
  <button ion-button block round color="danger" (click)="ok()">OK</button>
</ion-content>