<!--
  Generated template for the InformacoesGrupoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
  <ion-navbar>
    <ion-title>informacoesGrupo</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding *ngIf="grupo">
  <ion-row>
    <button id="back" ion-button col-5 navPop>
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
    </button>
  </ion-row>
  <div padding-vertical>
    <h1>Informações do Grupo</h1>
  </div>
  <ion-card>
    <ion-card-header>
      <h2>{{ grupo.nome }}</h2>
      <ion-icon *ngIf="foiSorteado" ios="ios-checkmark" md="md-checkmark"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <strong>Criação:</strong> {{ grupo.dataCriacao|date:'dd/MM/yyyy' }}
      </ion-item>
      <ion-item>
        <strong>Entrega</strong> {{ grupo.dataEntrega|date:'dd/MM/yyyy' }}
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <input type="email" name="" [(ngModel)]="emailUsuario">
    <button ion-button (click)="enviarConvite()">
      Enviar
    </button>
  </ion-item>
</ion-content>
